@font-face {
  font-family: FirstFont;
  src: url(fonts/Pacifico-Regular.ttf);
}

body{
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
  45deg,
  #75d6fc,
  #75d6fc 10px,
  #6bdbd9 10px,
  #6bdbd9 20px
);
}

# this is where the main title will go{
  font-size: 30px;
  font-family: FirstFont;
  color: #010101;
  display: flex;
  justify-content: center;
}

#container{
  position: relative;
  margin: 0 auto;
  top: 100px;
  height: 300px;
  width: 300px;
}

#circle{
  position: absolute;
  width: 190px;
  height: 190px;
  left: 50px;
  top: 10px;
  background: pink;
  border-radius: 50%;
  animation-play-state: paused;
}

#small-circle1{
  position: absolute;
  width: 40px;
  height: 40px;
  left: -15px;
  top: 101px;
  background: pink;
  border-radius: 50%;
  animation-play-state: paused;
}

#small-circle2{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 165px;
  top: 101px;
  background: pink;
  border-radius: 50%;
  animation-play-state: paused;
}

#cone {
  position: absolute;
  left: 45px;
  top: 150px;
  width: 0px;
  height: 0px;
  border-left: 105px solid transparent;
  border-right: 95px solid transparent;
  border-top: 210px solid #e8cb8d;
}

#eye1 {
  position:absolute;
  left: -75px;
  top: -300px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #000;
  animation-play-state: inherit;
}

#eye2 {
  position: absolute;
  left: 85px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #000;
  animation-play-state: inherit;
}

#pupil1 {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #FFF;
  animation-name: look-about;
  animation-duration: 3s;
  animation-play-state: inherit;
  animation-iteration-count: infinite;
}

#pupil2 {
  position: absolute;
  left: -80px;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #FFF;
  animation-name: look-about;
  animation-duration: 3s;
  animation-play-state: inherit;
  animation-iteration-count: infinite;
}

#cherry {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 80px;
  top: -17px;
  background: red;
  border-radius: 50%;
}

@keyframes look-about {
  0% {left:20px;}
  5% {left:30px;}
  30% {left:30px;}
  35% {left:10px;}
  60% {left:10px;}
  65% {left:20px;}
  100% {left:20px;}
}

#cone:hover {
  animation-play-state: running;
}
